In [3]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
import string

nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('portuguese')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/jonasgabriel/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
def remove_stopwords(text):
    words = text.split()
    clean_words = [word for word in words if word.lower() not in stopwords]
    return ' '.join(clean_words)

In [4]:
def remove_punctuation(tokens):
    punctuation = string.punctuation
    clean_tokens = []
    for token in tokens:
        clean_token = ''.join(char for char in token if char not in punctuation)
        if clean_token:
            clean_tokens.append(clean_token)
    
    return clean_tokens

In [35]:
ds = 'Streaming'
df = pd.read_csv(f'../Datasets/{ds}/{ds}.csv')
df.head()

,reviews,score,likes,time,app_name,year
0,Um serviço que parece não saber onde quer cheg...,2.0,12.0,12/04/2023,Amazon Prime Video,2023.0
1,A seleção de filmes está cada vez melhor. A fu...,4.0,676.0,02/02/2023,Amazon Prime Video,2023.0
2,"Acho o algoritmo do app muito ruim, o layout r...",4.0,736.0,30/01/2023,Amazon Prime Video,2023.0
3,"Possui alguns bons filmes e séries, porém muit...",1.0,461.0,21/03/2023,Amazon Prime Video,2023.0
4,"A maioria dos filmes bons tem que alugar, paga...",2.0,405.0,07/02/2023,Amazon Prime Video,2023.0

In [36]:
df.shape

(734564, 6)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734564 entries, 0 to 734563
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   reviews   734564 non-null  object
 1   score     734564 non-null  float64
 2   likes     734564 non-null  float64
 3   time      734564 non-null  object
 4   app_name  734564 non-null  object
 5   year      734564 non-null  float64
dtypes: float64(3), object(3)
memory usage: 33.6+ MB

In [ ]:
df['reviews_tokens'] = df['reviews'].apply(remove_stopwords)
df.head()

In [ ]:
df['reviews_tokens'] = df.apply(lambda row: nltk.word_tokenize(row['reviews_tokens'].lower()), axis=1)
df.head()

In [ ]:
df['reviews_tokens'] = df['reviews_tokens'].apply(remove_punctuation)
df['reviews_tokens'][0]